<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% extends 'layout.html' %}
    {%block header%}Hardware Store{%endblock%}
    {%block maincontent%}This is the maincontent of index.html Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa ad facilis provident delectus perspiciatis totam odio adipisci quia, corrupti tenetur! Quas eaque cupiditate fuga. Iure vero quos fuga, dolore deserunt laudantium dicta quidem perspiciatis sed possimus aliquid est cumque molestias voluptatem dolor beatae, optio hic quaerat, quia dolorem atque.{%endblock%}
</body>
</html>